
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Signin</ion-title>
  </ion-navbar>

</ion-header>

//sign-up form
<ion-content padding>
  <form #f = "ngForm" (ngSubmit) = "onSignin(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Mail</ion-label>
        <ion-input type="email" ngModel name="email" required>

        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" ngModel name="password"
                   required>

        </ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid">Signin</button>
  </form>
</ion-content>
