
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>

//sign-up form
<ion-content padding>
    <form #f = "ngForm" (ngSubmit) = "onSignup(f)">
        <ion-list>
            <ion-item>
                <ion-label fixed>Mail</ion-label>
                <ion-input type="email" ngModel name="email" required>

                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Password</ion-label>
                <ion-input type="password" ngModel name="password"
                           required [minlength]="6">

                </ion-input>
            </ion-item>
        </ion-list>
        <button ion-button block type="submit" [disabled]="!f.valid">Signup</button>
    </form>
</ion-content>
